## .NET
bin/
obj/
artifacts/
*.user
*.rsuser
*.aps

## Visual Studio
.vs/
*.suo
*.cache
*.DotSettings.user
*.sln.docstates

## Android / Xamarin
*.apk
*.aab
*.apks
*.keystore
*.jks
*.dmp
*.idsig

## Rider / VS Code
.idea/
.vscode/

## Test / Coverage
TestResults/
*.coverage
*.coveragexml

## OS
Thumbs.db
Desktop.ini
.DS_Store
